.popup {
  display: none;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, .5);
}

@media (max-width: 588px) {
  .profile__name-text {
    max-width: 260px;
  }
}
