.popup {
  /*display: none;*/
  display: flex;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 1000ms, opacity 1000ms 0ms;

  align-items: center;
  justify-content: center;
  
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, .5);
}

