.profile__title {
  grid-area: title;
  margin: 0px;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  align-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 360px;
}

@media (max-width: 588px) {
  .profile__title {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}