.profile__title {
  grid-area: title;
  margin: 0px;
  font-family: Inter;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  align-self: flex-start;
}


@media (max-width: 588px) {
  .profile__title {
    margin-top: 14px;
  }
}