.profile__avatar-image {
  max-width: 169px;
  max-height: 128px;
  margin-right: 20px;
  border-radius: 50%;
  grid-area: avatar;
}

@media (max-width: 588px) {
  .profile__avatar-image {
    margin: 0 auto;
  }
}

.profile__avatar:hover {
  opacity: 0.5;
  cursor: pointer;
}
